body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #0e1a28, #07273a, #062c50);
    color: #e0e0e0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

#main-header
{
    background-color: #000000 !important;
    padding: 20px 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#main-header a.text-white
{
    text-decoration: none;
}

#main-header a.text-white:hover
{
    color: #0b2295;
    transition: color 0.3s;
}

.nav-link:hover
{
    color: #0b2295 !important;
    transition: color 0.3s;
}

.card
{
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top
{
    height: 200px;
    object-fit: cover;
}

.card-body
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1a009c;
    color: #ffffff;
}

.projeto-link
{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}
  
.projeto-link:hover
{
    color: #000000;
}

section
{
    padding: 60px 0;
    margin-top: 80px;
}

#main-footer
{
    background-color: #000000 !important;
    padding: 20px 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px)
{
    #main-header .nav
    {
        flex-direction: column;
        align-items: flex-start;
    }

    #main-header .nav-item
    {
        margin-bottom: 10px;
    }
}